/* Colors */
/* Font sizes */
/* Fonts */
.col-sm-1 { -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }

.col-sm-2 { -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }

.col-sm-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }

.col-sm-4 { -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }

.col-sm-5 { -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }

.col-sm-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }

.col-sm-7 { -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }

.col-sm-8 { -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }

.col-sm-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }

.col-sm-10 { -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }

.col-sm-11 { -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }

.col-sm-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

.col-md-1 { -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }

.col-md-2 { -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }

.col-md-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }

.col-md-4 { -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }

.col-md-5 { -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }

.col-md-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }

.col-md-7 { -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }

.col-md-8 { -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }

.col-md-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }

.col-md-10 { -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }

.col-md-11 { -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }

.col-md-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

.col-lg-1 { -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }

.col-lg-2 { -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }

.col-lg-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }

.col-lg-4 { -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }

.col-lg-5 { -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }

.col-lg-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }

.col-lg-7 { -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }

.col-lg-8 { -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }

.col-lg-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }

.col-lg-10 { -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }

.col-lg-11 { -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }

.col-lg-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

.col-xl-1 { -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }

.col-xl-2 { -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }

.col-xl-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }

.col-xl-4 { -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }

.col-xl-5 { -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }

.col-xl-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }

.col-xl-7 { -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }

.col-xl-8 { -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }

.col-xl-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }

.col-xl-10 { -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }

.col-xl-11 { -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }

.col-xl-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** 1. Correct the line height in all browsers. 2. Prevent adjustments of font size after orientation changes in iOS. */
html { line-height: 1.15; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/* Sections ========================================================================== */
/** Remove the margin in all browsers. */
body { margin: 0; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 { font-size: 2em; margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/* Text-level semantics ========================================================================== */
/** Remove the gray background on active links in IE 10. */
a { background-color: transparent; }

/** 1. Remove the bottom border in Chrome 57- 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ text-decoration: underline dotted; /* 2 */ }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** Add the correct font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content ========================================================================== */
/** Remove the border on images inside links in IE 10. */
img { border-style: none; }

/* Forms ========================================================================== */
/** 1. Change the font styles in all browsers. 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }

/** Show the overflow in IE. 1. Show the overflow in Edge. */
button, input { /* 1 */ overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

/** Correct the padding in Firefox. */
fieldset { padding: 0.35em 0.75em 0.625em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { vertical-align: baseline; }

/** Remove the default vertical scrollbar in IE 10+. */
textarea { overflow: auto; }

/** 1. Add the correct box sizing in IE 10. 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

/** Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

/* Interactive ========================================================================== */
/* Add the correct display in Edge, IE 10+, and Firefox. */
details { display: block; }

/* Add the correct display in all browsers. */
summary { display: list-item; }

/* Misc ========================================================================== */
/** Add the correct display in IE 10+. */
template { display: none; }

/** Add the correct display in IE 10. */
[hidden] { display: none; }

.row { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.row--spaceBetween { -ms-flex-pack: justify; justify-content: space-between; }

.row--padding-bottom { padding-bottom: 30px; }

.row--flexEnd { -ms-flex-pack: end; justify-content: flex-end; }

.row--center { padding: 30px; margin: 0 auto; -ms-flex-pack: center; justify-content: center; }

.row--column { -ms-flex-direction: column; flex-direction: column; padding: 20px 40px 40px; }

.row--widthQuit { width: 400px; }

.row--widthLogin { width: 550px; height: 38px; }

.row--widthChat { width: 570px; }

.row--widthAddURL { width: 570px; }

.row--marginTop { margin-top: 15px; }

.row--marginLoginName { margin-top: 40px; margin-bottom: 25px; }

.row--marginBottomMessage { margin-bottom: 150px; }

.row--personaldataAlign { text-align: right; padding-right: 30px; }

.main { margin-left: 60px; }

.main--hidedSidebar { margin-left: 250px; }

.pages-background { height: 100%; background-color: #F5F5F2; padding: 20px 20px; }

.pages-background--heightBackground { height: 100vh; }

.container { width: 100%; max-width: 1170px; margin: 0 auto; }

.container--spaceBetweenSections { margin-bottom: 20px; }

.container--backgroundColor { background-color: #fff; }

.container--paddingSides { padding-left: 40px; padding-right: 40px; }

.container-fluid { width: 100%; }

.container-fluid--spaceBetweenSections { margin-bottom: 20px; }

.container-fluid--backgroundColor { background-color: #fff; }

.OneDigit { -ms-flex-direction: column; flex-direction: column; padding: 20px 40px 40px; }

.tabs-position { -ms-flex-pack: center; justify-content: center; }

.scroll-wrapper { display: block; width: 100%; overflow-x: auto; }

.scroll-wrapper table { width: 100%; max-width: 100%; }

@media (max-width: 767px) { .col-sm-1 { -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-sm-2 { -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-sm-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-sm-4 { -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-sm-5 { -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-sm-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-sm-7 { -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-sm-8 { -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-sm-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-sm-10 { -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-sm-11 { -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-sm-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  #calendar { width: 153px; }
  input[id="start"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; border-right: none !important; border-bottom: 1px solid #e3e3e3 !important; }
  .row--personaldataAlign { text-align: left; padding-right: 0px; }
  .row--widthAddURL { width: 300px; }
  .row--widthQuit { width: 200px; }
  .row--widthChat { width: 400px; }
  .row--widthLogin { width: 300px; height: 130px; }
  .row--widthLogin form div input { width: 100%; }
  .field_EnterName input { width: 100% !important; }
  .postBackMargin { margin-bottom: 15px; } }

@media (min-width: 768px) { .col-md-1 { -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-md-2 { -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-md-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-md-4 { -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-md-5 { -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-md-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-md-7 { -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-md-8 { -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-md-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-md-10 { -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-md-11 { -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-md-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; } }

@media (min-width: 992px) { .col-lg-1 { -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-lg-2 { -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-lg-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-lg-4 { -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-lg-5 { -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-lg-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-lg-7 { -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-lg-8 { -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-lg-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-lg-10 { -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-lg-11 { -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-lg-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; } }

@media (min-width: 1200px) { .col-xl-1 { -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-xl-2 { -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-xl-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-xl-4 { -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-xl-5 { -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-xl-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-xl-7 { -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-xl-8 { -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-xl-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-xl-10 { -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-xl-11 { -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-xl-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; } }

/* Components */
.pageHeader { font-size: 16px; text-transform: uppercase; font-family: "Roboto", sans-serif; color: #979797; }

.pageHeader--borderBottom { border-bottom: 1px solid #e3e3e3; }

.pageHeader--padding { padding: 20px; }

.sectionHeader, .field label, .field--signup label, .field_select label, .personalData span { font-size: 16px; text-transform: initial; font-family: "Roboto", sans-serif; color: #979797; font-weight: bold; }

.sectionHeader--paddingLeft { padding-left: 40px; }

.sectionHeader--marginTop { margin-top: 15px; }

.sectionHeader--normalWeight { font-weight: normal; }

.sectionHeader--borderBottom { border-bottom: 1px solid #e3e3e3; }

.sectionHeader--minusMarginSides { margin-right: -15px; margin-left: -15px; }

.link { text-transform: lowercase; font-family: "Roboto", sans-serif; cursor: pointer; color: #56819F; text-decoration: none; }

.link:hover { color: #FFA200; }

.link-large { font-size: 16px; font-weight: 400; }

.link-small { font-size: 13px; font-weight: 400; }

.link-icon { width: 13px; height: 13px; fill: #56819F; }

.link-icon:hover { fill: #FFA200; }

.tabs { display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 16px; font-family: "Roboto", sans-serif; color: #979797; font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 2px; text-decoration: none; margin: 20px; }

.tabs:hover, .tabs :focus { background-color: #e3e3e3; }

.fa-circle { margin-right: 10px; }

.tabs-links-color { color: #56819F; }

.tabs-mainButton-color { color: #F58220; }

.tabs-onlineStatus-color { color: #04AE00; }

.table { width: 100%; max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0; display: table; }

.table tr { border-top: 1px solid #e3e3e3; }

.table tr:hover { background: #e3e3e3; }

.table tr:hover svg { opacity: 1; }

.table tr td { text-align: left; }

.table tr td > p { margin-left: 20px; }

.table tr td a p { text-align: right; }

.table tr td a p svg { margin-right: 20px; opacity: 0; }

.table tr:last-of-type { border-bottom: 1px solid #e3e3e3; }

.listWithOneDigit { display: -ms-flexbox; display: flex; -ms-flex-flow: row; flex-flow: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -ms-flex-pack: justify; justify-content: space-between; border-bottom: 1px solid #e3e3e3; }

.listWithOneDigit > p { margin-bottom: 5px; }

.table-sorting { width: 100%; max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0; display: table; margin-bottom: 20px; font-size: 12px; cursor: pointer; }

.table-sorting thead tr th { text-align: left; }

.table-sorting thead tr th p { color: #979797; display: inline-block; text-align: left; padding: 6px 12px; border-radius: 2px; }

.table-sorting thead tr th p svg { width: 8px; height: 8px; fill: #979797; margin-bottom: 1px; margin-left: 7px; opacity: .0; }

.table-sorting thead tr th p:hover { color: #191919; background: #e3e3e3; /*svg { opacity: 1; }*/ }

.table-sorting tbody tr { border-top: 1px solid #e3e3e3; /* > td:first-child { > p { margin-left: 20px; } }*/ }

.table-sorting tbody tr:hover { background: #e3e3e3; }

.table-sorting tbody tr > td { text-align: left; }

.table-sorting tbody tr > td > p:first-child { margin-left: 12px; }

.table-sorting tr:last-of-type { border-bottom: 1px solid #e3e3e3; }

.opacity-full { opacity: 1 !important; }

.table-sorting--center tbody tr > td { text-align: center; }

@media (max-width: 640px) { .tablesaw-cell-label p svg { display: none; }
  .table-sorting--center tbody tr > td { text-align: left !important; } }

.btn { display: inline-block; padding: 6px 18px; font-size: 18px; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; font-family: "Roboto", sans-serif; color: #fff; }

.btn--marginRight { margin-right: 10px; }

.btn--default { color: #333; background-color: #fff; border-color: #ccc; }

.btn--primary { background-color: #979797; }

.btn--primary--bright { background-color: rgba(151, 151, 151, 0.6); }

.btn--submit { background-color: #F58220; }

.btn--warning { background-color: #FFA200; }

.btn--link { background-color: #e3e3e3; }

.btn--paddingRefresh { padding: 6px 8px; }

.btn_svg { width: 16px; height: 16px; fill: #fff; vertical-align: middle; }

.btn_svg--marginRight { margin-right: 10px; }

.btn--marginLeft { margin-left: 15px; }

.pagination { display: inline-block; padding-left: 0; margin: 20px 0; border-radius: 4px; cursor: pointer; font-family: "Roboto", sans-serif; }

.pagination > li { display: inline; }

.pagination > li > a { float: left; padding: 6px 12px; margin-left: -1px; color: #56819F; text-decoration: none; background-color: #fff; }

.pagination > li > a:hover { color: #FFA200; }

.active { background-color: #e3e3e3 !important; font-size: 16px; text-transform: initial; font-family: "Roboto", sans-serif; color: #979797 !important; font-weight: bold; border-radius: 2px; }

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button { display: none; }

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { display: none; }

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator { opacity: 0; padding-right: 40px; }

/* A few custom styles for date inputs */
input[type="date"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; color: #000000; font-family: "Roboto", sans-serif; font-size: 13px; border: 1px solid transparent; padding: 8px; display: inline-block !important; visibility: visible !important; }

input[id="start"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; border-right: 1px solid #e3e3e3; }

.calendarBackground { background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'><path d='M0 0v4h13V0H0zm12 3H1V1h11v2zM0 7h3V6H0v1zm5 0h3V6H5v1zm5 0h3V6h-3v1zM0 10h3V9H0v1zm5 0h3V9H5v1zm5 0h3V9h-3v1zM0 13h3v-1H0v1zm5 0h3v-1H5v1zm5 0h3v-1h-3v1z'/></svg>"); background-size: 13px 13px; box-shadow: none; background-repeat: no-repeat; background-position: 95% 50%; }

#calendar { border: 1px solid #e3e3e3; display: inline-block; border-radius: 4px; margin-right: 10px; box-shadow: none; /* .calendar_line { border-right: 10px solid $hoverBackground-color !important; width: 10px; height: auto; display: inline-block; padding: 10px 0px; }*/ }

#calendar:hover, #calendar :focus { color: #000000; border: 1px solid #979797; box-shadow: none; }

.notification { display: inline-block; color: #fff; padding: 8px 18px; font-size: 14px; font-family: "Roboto", sans-serif; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 1px solid transparent; background-image: none; }

.notification-positive { background-color: #96CC9B; transition: all .4s ease-out; }

.notification-positive:hover, .notification-positive :focus { background-color: #74B67A; }

.notification-negative { background-color: #EC7171; transition: all .4s ease-out; }

.notification-negative:hover, .notification-negative :focus { background-color: #DE5252; }

.notification_svg { width: 16px; height: 16px; fill: #fff; vertical-align: middle; margin-right: 6px; margin-top: -4px; }

.notification_svg--close { width: 14px; height: 14px; margin-right: -10px; margin-left: 50px; }

.field label { display: block; padding: 5px 0; }

.field input { -webkit-appearance: none; -moz-appearance: none; appearance: none; min-width: 90%; padding: 10px; border-radius: 3px; cursor: pointer; border: none; border: solid 1px #e3e3e3; font-size: 14px; }

.field input:hover { border: solid 1px #979797; }

.field input:hover:-ms-input-placeholder { color: #000000; }

.field input:hover::placeholder { color: #000000; }

.field input:-ms-input-placeholder { color: #979797; }

.field input::placeholder { color: #979797; }

.field--signup label { display: block; padding: 10px 0; }

.field--signup textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; min-width: 95%; height: 250px; padding: 20px; border-radius: 3px; resize: none; cursor: pointer; border: none; border: solid 1px #e3e3e3; font-size: 12px; }

.field--signup textarea:hover { border: solid 1px #979797; }

.field--signup textarea:hover:-ms-input-placeholder { color: #000000; }

.field--signup textarea:hover::placeholder { color: #000000; }

.field--signup textarea:-ms-input-placeholder { color: #979797; }

.field--signup textarea::placeholder { color: #979797; }

.field_select label { display: block; padding: 5px 0; }

.field_select select { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 1px solid transparent; min-width: 90%; padding: 10px; border-radius: 3px; cursor: pointer; border: solid 1px #e3e3e3; font-size: 14px; font-family: "Roboto", sans-serif; color: #979797; background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 5'><path d='M3.5 4.2L.1.9.9.1l2.6 2.7L6.1.1l.8.8z'/></svg>"); background-size: 12px auto; background-repeat: no-repeat; background-position: right 5px bottom 50%; }

.field_select select:focus { background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 5'><path d='M6.1 4.9L3.5 2.2.9 4.9l-.8-.8L3.5.8l3.4 3.3z'/></svg>"); background-size: 12px auto; background-repeat: no-repeat; background-position: right 5px bottom 50%; }

.field_select select:hover { border: solid 1px #979797; color: #000000; }

.field_loginName input { position: relative; -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 90%; padding: 10px; padding-left: 30px; border-radius: 3px; cursor: pointer; border: none; border: solid 1px #e3e3e3; font-size: 14px; background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 16'><path d='M7.5 9c2.2 0 4-1.8 4-4s-1.8-4-4-4-4 1.8-4 4 1.8 4 4 4zm0-7c1.7 0 3 1.3 3 3s-1.3 3-3 3-3-1.3-3-3 1.3-3 3-3zm0 8c-3 0-5.6 2-6.3 4.9l1 .3C2.8 12.7 5 11 7.5 11s4.7 1.7 5.3 4.1l1-.3C13.1 12 10.5 10 7.5 10z'/></svg>"); background-size: 15px auto; background-repeat: no-repeat; background-position: left 10px bottom 50%; }

.field_loginName input:hover, .field_loginName input :focus { border: solid 1px #979797; background-image: url("data:image/svg+xml;utf8, <svg fill='%23000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 16'><path d='M7.5 9c2.2 0 4-1.8 4-4s-1.8-4-4-4-4 1.8-4 4 1.8 4 4 4zm0-7c1.7 0 3 1.3 3 3s-1.3 3-3 3-3-1.3-3-3 1.3-3 3-3zm0 8c-3 0-5.6 2-6.3 4.9l1 .3C2.8 12.7 5 11 7.5 11s4.7 1.7 5.3 4.1l1-.3C13.1 12 10.5 10 7.5 10z'/></svg>"); }

.field_loginName input:hover:-ms-input-placeholder, .field_loginName input :focus:-ms-input-placeholder { color: #000000; }

.field_loginName input:hover::placeholder, .field_loginName input :focus::placeholder { color: #000000; }

.field_loginName input:-ms-input-placeholder { color: #979797; }

.field_loginName input::placeholder { color: #979797; }

.field_password input { -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 90%; padding: 10px; padding-left: 40px; border-radius: 3px; cursor: pointer; border: none; border: solid 1px #e3e3e3; font-size: 14px; background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 14'><path d='M21.1 7.4l-2.6-2.6-2 2L14.7 5h-2.1c-1-2.8-3.8-4.4-6.8-3.9-2.3.4-4.2 2.3-4.7 4.6-.4 1.8.1 3.7 1.2 5.1C3.5 12.2 5.2 13 7 13c2.2 0 4.1-1.1 5.2-3h7.9c.6 0 1.1-.4 1.4-.9.2-.6.1-1.2-.4-1.7zm-.6 1.3c0 .1-.2.3-.5.3h-8.5l-.1.3C10.6 11 8.9 12 7 12c-1.5 0-2.9-.7-3.9-1.8-1-1.2-1.3-2.7-1-4.2.4-2 2-3.5 3.9-3.9.4-.1.7-.1 1-.1 2.2 0 4.2 1.4 4.8 3.6l.1.4h2.4l2.2 2.2 2-2 1.9 1.9c.3.3.2.5.1.6zm-15-4.2C4.1 4.5 3 5.6 3 7s1.1 2.5 2.5 2.5S8 8.4 8 7 6.9 4.5 5.5 4.5zm0 4C4.7 8.5 4 7.8 4 7s.7-1.5 1.5-1.5S7 6.2 7 7s-.7 1.5-1.5 1.5z'/></svg>"); background-size: auto 15px; background-repeat: no-repeat; background-position: left 10px bottom 50%; }

.field_password input:hover, .field_password input :focus { border: solid 1px #979797; background-image: url("data:image/svg+xml;utf8, <svg fill='%23000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 14'><path d='M21.1 7.4l-2.6-2.6-2 2L14.7 5h-2.1c-1-2.8-3.8-4.4-6.8-3.9-2.3.4-4.2 2.3-4.7 4.6-.4 1.8.1 3.7 1.2 5.1C3.5 12.2 5.2 13 7 13c2.2 0 4.1-1.1 5.2-3h7.9c.6 0 1.1-.4 1.4-.9.2-.6.1-1.2-.4-1.7zm-.6 1.3c0 .1-.2.3-.5.3h-8.5l-.1.3C10.6 11 8.9 12 7 12c-1.5 0-2.9-.7-3.9-1.8-1-1.2-1.3-2.7-1-4.2.4-2 2-3.5 3.9-3.9.4-.1.7-.1 1-.1 2.2 0 4.2 1.4 4.8 3.6l.1.4h2.4l2.2 2.2 2-2 1.9 1.9c.3.3.2.5.1.6zm-15-4.2C4.1 4.5 3 5.6 3 7s1.1 2.5 2.5 2.5S8 8.4 8 7 6.9 4.5 5.5 4.5zm0 4C4.7 8.5 4 7.8 4 7s.7-1.5 1.5-1.5S7 6.2 7 7s-.7 1.5-1.5 1.5z'/></svg>"); }

.field_password input:hover:-ms-input-placeholder, .field_password input :focus:-ms-input-placeholder { color: #000000; }

.field_password input:hover::placeholder, .field_password input :focus::placeholder { color: #000000; }

.field_password input:-ms-input-placeholder { color: #979797; }

.field_password input::placeholder { color: #979797; }

.field_EnterName input { -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 90%; padding: 10px; padding-left: 40px; border-radius: 3px; cursor: pointer; border: none; border: solid 1px #e3e3e3; font-size: 14px; background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 17'><path d='M16 15.7L13.3 13H7.5C3.9 13 1 10.1 1 6.5S3.9 0 7.5 0h2C13.1 0 16 2.9 16 6.5v9.2zM7.5 1C4.5 1 2 3.5 2 6.5S4.5 12 7.5 12h6.2l1.3 1.3V6.5c0-3-2.5-5.5-5.5-5.5h-2z'/></svg>"); background-size: auto 15px; background-repeat: no-repeat; background-position: left 10px bottom 50%; }

.field_EnterName input:hover, .field_EnterName input :focus { border: solid 1px #979797; background-image: url("data:image/svg+xml;utf8, <svg fill='%23000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 17'><path d='M16 15.7L13.3 13H7.5C3.9 13 1 10.1 1 6.5S3.9 0 7.5 0h2C13.1 0 16 2.9 16 6.5v9.2zM7.5 1C4.5 1 2 3.5 2 6.5S4.5 12 7.5 12h6.2l1.3 1.3V6.5c0-3-2.5-5.5-5.5-5.5h-2z'/></svg>"); }

.field_EnterName input:hover:-ms-input-placeholder, .field_EnterName input :focus:-ms-input-placeholder { color: #000000; }

.field_EnterName input:hover::placeholder, .field_EnterName input :focus::placeholder { color: #000000; }

.field_EnterName input:-ms-input-placeholder { color: #979797; }

.field_EnterName input::placeholder { color: #979797; }

.personalData { padding-bottom: 0px; }

.personalData span { padding-top: 7px; padding-bottom: 7px; }

.personalData input { -webkit-appearance: none; -moz-appearance: none; appearance: none; padding: 10px; border-radius: 3px; cursor: pointer; border: none; border: solid 1px #e3e3e3; font-size: 14px; }

.personalData input:hover { border: solid 1px #979797; }

.personalData input:hover:-ms-input-placeholder { color: #000000; }

.personalData input:hover::placeholder { color: #000000; }

.personalData input:-ms-input-placeholder { color: #979797; }

.personalData input::placeholder { color: #979797; }

.checkboxList { min-width: 90%; }

.checkboxList input[type=checkbox] { display: none; }

.checkboxList input[type=checkbox] + label { display: block; margin: 0.3em; cursor: pointer; padding: 0.3em; font-size: 13px; font-family: "Roboto", sans-serif; }

.checkboxList input[type=checkbox] + label:before { content: "\2714"; border: solid 1px #e3e3e3; border-radius: 3px; display: inline-block; width: 1em; height: 1em; padding-left: 0.2em; padding-bottom: 0.3em; margin-right: 1em; vertical-align: bottom; color: transparent; transition: .2s; background-color: white; }

.checkboxList input[type=checkbox] + label:active:before { transform: scale(0); }

.checkboxList input[type=checkbox] + label .checkboxList_link { display: inline-block; min-width: 75%; }

.checkboxList input[type=checkbox] + label .checkboxList_link > .checkboxList_link_flex { display: -ms-flexbox; display: flex; -ms-flex-flow: row-reverse; flex-flow: row-reverse; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -ms-flex-pack: justify; justify-content: space-between; }

.checkboxList input[type=checkbox] + label .checkboxList_link > .checkboxList_link_flex P { display: inline-block; margin: 0; }

.checkboxList input[type=checkbox] + label .checkboxList_link > .checkboxList_link_flex a { display: inline-block; vertical-align: bottom; opacity: 0; }

.checkboxList input[type=checkbox] + label:hover { background-color: #F2F2F2; }

.checkboxList input[type=checkbox] + label:hover .checkboxList_link > .checkboxList_link_flex a { opacity: 1; }

.checkboxList input[type=checkbox]:checked + label:before { background-color: #04AE00; border-color: #04AE00; color: white; }

.scrollbar { height: 60vh; overflow-y: scroll; width: 80%; max-width: 600px; margin: 0 auto; padding: 3em; font: 100%/1.4 serif; border: 1px solid rgba(0, 0, 0, 0.25); }

.scrollbar::-webkit-scrollbar { width: 1em; }

.scrollbar::-webkit-scrollbar-track { background-color: #e3e3e3; }

.scrollbar::-webkit-scrollbar-thumb { background-color: #9c9c9c; outline: 1px solid slategrey; }

.message { padding: 0 15px; font-size: 14px; font-family: "Roboto", sans-serif; border-radius: 5px; margin-bottom: 15px; position: relative; display: inline-block; }

.message_manager { background-color: #e3e3e3; }

.message_manager:before { content: ' '; position: absolute; width: 0; height: 0; top: -10px; left: 0; border: 7px solid; border-color: transparent transparent #e3e3e3 #e3e3e3; }

.message_user { background-color: #979797; color: white; }

.message_user:before { content: ' '; position: absolute; width: 0; height: 0; left: auto; right: 0px; bottom: -10px; border: 7px solid; border-color: #979797 #979797 transparent transparent; }

.messanger .messanger_name { font-size: 30px; font-family: "Roboto", sans-serif; margin: 0; }

.messanger .messanger_status { display: inline-block; font-size: 11px; color: white; padding: 2px 7px; border-radius: 3px; }

.messanger .messanger_status--online { background: #04AE00; }

.messanger .messanger_status--offline { background: #e3e3e3; }

.slidecontainer { display: block; margin: 0 auto; }

.slidecontainer input[type="range"] { -webkit-appearance: none; -moz-apperance: none; outline: transparent; cursor: pointer; width: 100%; height: 6px; position: relative; background-image: -webkit-gradient(linear, left top, right top, color-stop(0.15, #ff0000), color-stop(0.15, #e3e3e3)); }

.slidecontainer input[type='range']::-webkit-slider-thumb { -webkit-appearance: none !important; width: 32px; height: 32px; margin-top: 50px; cursor: pointer; background: url("../images/icons/arrow-slider.png") no-repeat; }

.slidecontainer input[type="range"]::before { content: '0'; position: absolute; top: -20px; left: 0; z-index: 1; font-size: 14px; font-family: "Roboto", sans-serif; }

.slidecontainer input[type="range"]::after { content: '168'; position: absolute; top: -20px; right: 0; z-index: 1; font-size: 14px; font-family: "Roboto", sans-serif; }

.slidecontainer p { text-align: center; margin-top: 30px; font-size: 14px; }

.slidecontainer--removeText { display: none; }

.overlay { position: fixed; top: 0; left: 0; z-index: 999; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; overflow: auto; padding: 15px; display: none; }

.overlay.show { display: -ms-flexbox; display: flex; }

.overlay::webkit-scrollbar { display: none; }

.modal { max-width: 600px; margin: auto; background-color: #ffffff; position: relative; padding: 15px; display: none; }

.modal.show { display: block; }

.modal .btn-close { position: absolute; top: -1px; right: 0; font-size: 22px; padding: 10px 15px; font-family: "Roboto", sans-serif; color: #979797; }

.manager_face--modal { display: inline-block; border-radius: 50%; width: 64px; height: 64px; background-image: url("../../images/icons/manager.jpg"); background-size: 64px 64px; background-repeat: no-repeat; background-position: center center; box-shadow: 1px 1px 5px black; }

.manager_face--modal--secondLevel { background-image: url("../images/icons/manager.jpg") !important; }

.hamburger { display: inline-block; cursor: pointer; padding: 20px; }

.hamburger:focus > .hamburger__container { box-shadow: 0 0 2px 2px #51a7e8; }

.hamburger__container { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; position: relative; width: 20px; height: 20px; }

.hamburger__bars { position: absolute; width: 20px; height: 2px; background-color: #979797; transition: transform 220ms ease-in-out; }

.hamburger__bars:before, .hamburger__bars:after { display: block; position: absolute; width: 20px; height: 2px; background-color: #979797; content: ''; }

.hamburger__bars:before { top: -8px; transition: top 100ms 250ms ease-in, transform 220ms ease-in-out; }

.hamburger__bars:after { bottom: -8px; transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out; }

.hamburger--active .hamburger__bars { transform: rotate(225deg); transition: transform 220ms 120ms ease-in-out; }

.hamburger--active .hamburger__bars:before { top: 0; transition: top 100ms ease-out; }

.hamburger--active .hamburger__bars:after { bottom: 0; transform: rotate(-90deg); transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out; }

.hamburger:focus, .hamburger__container:focus { outline: none; }

.sideBar { height: 100%; max-width: 250px; position: fixed; z-index: 1; top: 0; left: 0; overflow-x: hidden; font-size: 16px; font-family: "Roboto", sans-serif; color: #979797; background-color: #191919; }

.sideBar .sideBar_logo { display: inline-block; font-family: "Dancing Script", cursive; font-size: 35px; color: #fff; padding: 10px 20px; }

.sideBar .sideBar_nav .sideBar_nav_links { padding: 15px 8px 15px 20px; text-decoration: none; font-size: "Roboto", sans-serif; color: #979797; display: block; position: relative; }

.sideBar .sideBar_nav .sideBar_nav_links::before { position: absolute; content: ''; top: 0; left: 0; height: 100%; width: 4px; background-color: #FFA200; opacity: 0; }

.sideBar .sideBar_nav .sideBar_nav_links .sideBar_nav_icon { width: 18px; height: 18px; fill: #979797; vertical-align: text-top; margin-top: 2px; margin-right: 15px; }

.sideBar .sideBar_nav .sideBar_nav_links .sideBar_nav_pagesTitles { display: inline; }

.sideBar .sideBar_nav .sideBar_nav_links:hover { background-color: #282828; }

.sideBar .sideBar_nav .sideBar_nav_links:hover .sideBar_nav_pagesTitles { color: #fff; }

.sideBar .sideBar_nav .sideBar_nav_links:hover .sideBar_nav_icon { fill: #fff; }

.sideBar .sideBar_nav .sideBar_nav_links:hover::before { opacity: 1; }

.sideBar .sideBar_nav_links--active { background-color: #282828; }

.sideBar .sideBar_nav_links--active .sideBar_nav_pagesTitles { color: #fff; }

.sideBar .sideBar_nav_links--active .sideBar_nav_icon { fill: #fff; }

.sideBar .sideBar_manager { display: inline-block; margin-top: 30px; padding: 15px 8px 15px 20px; border-top: 1px solid rgba(151, 151, 151, 0.6); width: 250px; }

.sideBar .sideBar_manager #chat { cursor: pointer; }

.sideBar .sideBar_manager .sideBar_manager_title { font-size: 14px; text-transform: uppercase; font-family: "Roboto", sans-serif; color: #979797; }

.sideBar .sideBar_manager .sideBar_manager_face { display: inline-block; border-radius: 50%; width: 50px; height: 50px; position: relative; z-index: 1; background-image: url("../../images/icons/manager.jpg"); background-size: 50px 50px; background-repeat: no-repeat; background-position: center center; }

.sideBar .sideBar_manager .sideBar_manager_face:after { position: absolute; width: 10px; height: 10px; border-radius: 50%; background-color: #04AE00; content: ''; z-index: 2; top: 0; left: 35px; }

.sideBar .sideBar_manager .sideBar_manager_face .sideBar_manager_face_name { display: inline-block; margin-left: 70px; width: 70px; text-transform: initial; font-size: 14px; }

.sideBar .sideBar_manager .sideBar_manager_face--secondLevel { background-image: url("../images/icons/manager.jpg") !important; }

@media (max-width: 767px) { .col-sm-1 { -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-sm-2 { -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-sm-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-sm-4 { -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-sm-5 { -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-sm-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-sm-7 { -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-sm-8 { -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-sm-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-sm-10 { -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-sm-11 { -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-sm-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; } }

@media (min-width: 768px) { .col-md-1 { -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-md-2 { -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-md-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-md-4 { -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-md-5 { -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-md-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-md-7 { -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-md-8 { -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-md-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-md-10 { -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-md-11 { -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-md-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; } }

@media (min-width: 992px) { .col-lg-1 { -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-lg-2 { -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-lg-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-lg-4 { -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-lg-5 { -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-lg-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-lg-7 { -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-lg-8 { -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-lg-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-lg-10 { -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-lg-11 { -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-lg-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; } }

@media (min-width: 1200px) { .col-xl-1 { -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-xl-2 { -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-xl-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-xl-4 { -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-xl-5 { -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-xl-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-xl-7 { -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-xl-8 { -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-xl-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-xl-10 { -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-xl-11 { -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-xl-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; } }

#sideBar--hide { display: none; }

.sideBar--showInlineBlock { display: inline-block !important; }

.sideBar--showBlock { display: block !important; }

.topbar { border-left: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; display: -ms-flexbox; display: flex; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }

.topbar ul { padding: 0; margin: 0; list-style-type: none; display: inline-block; min-height: 70px; border-left: 1px solid #e3e3e3; }

.topbar ul li { cursor: pointer; }

.topbar ul li:first-child { display: inline-block; margin: 0px 15px; }

.topbar ul li:first-child .topbar_walletIcon, .topbar ul li:first-child .topbar_quitIcon { width: 18px; height: 18px; fill: #979797; margin-left: 15px; }

.topbar ul li:first-child select { -webkit-appearance: none; -moz-appearance: none; appearance: none; display: inline-block; border: 0px solid transparent; padding: 5px 30px 5px 10px; font-size: 20px; font-family: "Roboto", sans-serif; border-radius: 0; color: #979797; background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 5'><path d='M3.5 4.2L.1.9.9.1l2.6 2.7L6.1.1l.8.8z'/></svg>"); background-size: 12px auto; background-repeat: no-repeat; background-position: right 5px bottom 10px; }

.topbar ul li:first-child select:focus { background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 5'><path d='M6.1 4.9L3.5 2.2.9 4.9l-.8-.8L3.5.8l3.4 3.3z'/></svg>"); background-size: 12px auto; background-repeat: no-repeat; background-position: right 5px bottom 10px; }

.topbar ul li:nth-child(2) { display: inline-block; border-left: 1px solid #e3e3e3; position: relative; min-height: 70px; vertical-align: middle; margin-right: -4px; padding: 20px 0; }

.topbar ul li:nth-child(2):hover { background-color: #e3e3e3; }

.topbar ul li:nth-child(2) .topbar_notificationIcon { width: 18px; height: 18px; fill: #979797; margin-left: 15px; margin-top: 7px; margin-right: 15px; z-index: -1; }

.topbar ul li:nth-child(2):after { position: absolute; width: 6px; height: 6px; border-radius: 50%; background-color: #F58220; content: ''; z-index: 1; top: 27px; left: 25px; }

.topbar ul li:nth-child(3) { display: inline-block; border-left: 1px solid #e3e3e3; min-height: 70px; vertical-align: middle; margin-right: 14px; padding: 20px 0; }

.topbar ul li:nth-child(3) .topbar_profileIcon { width: 18px; height: 18px; fill: #979797; margin-left: 15px; margin-top: 7px; margin-right: 10px; }

.topbar ul li:nth-child(3) .topbar_userName { vertical-align: middle; text-transform: capitalize; display: inline-block; margin-top: -7px; }

.topbar ul li:last-child { display: inline-block; border-left: 1px solid #e3e3e3; min-height: 70px; vertical-align: middle; margin-right: 14px; padding: 20px 0; }

.topbar ul li:last-child .topbar_quitIcon { width: 18px; height: 18px; fill: #979797; margin-left: 15px; margin-top: 7px; }

/* Sections */
/* Pages / Views */
* { box-sizing: border-box; font-family: "Open Sans", Helvetica, Arial; line-height: 1.42857143; }

body { margin: 0 auto; max-width: 100%; }
