@media(max-width: 767px) {
    @include grid('sm');
  }
  
  @media(min-width: 768px) {
    @include grid('md');
  }
  
  @media(min-width: 992px) {
    @include grid('lg');
  }
  
  @media(min-width: 1200px) {
    @include grid('xl');
  }


  .container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    &--spaceBetweenSections {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  
  .container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    &--spaceBetweenSections {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .main {
    margin-left: 250px;
  }

  .pages-background {
    background-color: $betweenSectionBackground-color;
  }