

  .row {
    display: flex;
    flex-wrap: wrap;
    &--spaceBetween{
      justify-content: space-between;
    }
    &--padding-bottom {
      padding-bottom: 30px;
    }
    &--flexEnd {
      justify-content: flex-end;
    }
    &--center {
      padding: 30px;
      margin: 0 auto;
      justify-content: center;
    }
    &--column {
      flex-direction: column;
    padding: 20px 40px 40px;
    }
    &--widthQuit {
      width: 400px;
    }
    &--widthLogin {
      width: 550px;
      height: 38px;
    }
    &--widthChat {
      width: 570px;
    }
    &--widthAddURL {
      width: 570px;
    }
    &--marginTop {
      margin-top: 15px;
    }
    &--marginLoginName {
      margin-top: 40px;
      margin-bottom: 25px;
    }
    &--marginBottomMessage {
      margin-bottom: 150px;
    }
    &--personaldataAlign {
      text-align: right;
      padding-right: 30px;
    }

  }

  .main {
    margin-left: 250px;
  }

  .pages-background {
    height: 100%;
    background-color: $betweenSectionBackground-color;
    padding: 20px 20px;
    &--heightBackground {
      height: 100vh;
    }
  }

  .container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    &--spaceBetweenSections {
      margin-bottom: 20px;
    }
    &--backgroundColor {
      background-color: #fff;
    }
    &--paddingSides {
      padding-left: 40px;
      padding-right: 40px;
    }
    
  }
  
  .container-fluid {
    width: 100%;
    &--spaceBetweenSections {
      margin-bottom: 20px;
    }
    &--backgroundColor {
      background-color: #fff;
    }
  }
  
  

  .OneDigit {
    flex-direction: column;
    padding: 20px 40px 40px;
  }
  
 .tabs-position {
    justify-content: center;
  }
  
  .scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  
  .scroll-wrapper table {
    width: 100%;
    max-width: 100%;
  }
  
  
  @media(max-width: 767px) {
      @include grid('sm');
      #calendar {
        width: 153px;
      }
      input[id="start"] {
        appearance: none;
        border-right: none!important;
        border-bottom: 1px solid $hoverBackground-color !important;
    }
    .row {
      &--personaldataAlign {
        text-align: left;
        padding-right: 0px;
      }
      &--widthAddURL {
        width: 300px;
      }
      &--widthQuit {
        width: 200px;
      }
      &--widthChat {
        width: 400px;
      }
      &--widthLogin {
        width: 300px;
        height: 130px;
        form {
          div {
            input {
              width: 100%;
            }
          }
        }
      }
    }

    .field_EnterName{
      input {
        width: 100% !important;
      }
    }

    .postBackMargin {
      margin-bottom: 15px;
    }
    }
    
    @media(min-width: 768px) {
      @include grid('md');
    }
    
    @media(min-width: 992px) {
      @include grid('lg');
    }
    
    @media(min-width: 1200px) {
      @include grid('xl');
    }