@media(max-width: 767px) {
    @include grid('sm');
  }
  
  @media(min-width: 768px) {
    @include grid('md');
  }
  
  @media(min-width: 992px) {
    @include grid('lg');
  }
  
  @media(min-width: 1200px) {
    @include grid('xl');
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    &--spaceBetween{
      justify-content: space-between;
    }
    &--center {
      padding: 30px;
      margin: 0 auto;
      justify-content: center;
    }
    &--column {
      flex-direction: column;
    padding: 20px 40px 40px;
    }
  }

  .main {
    margin-left: 250px;
  }

  .pages-background {
    height: 100%;
    background-color: $betweenSectionBackground-color;
    padding: 20px 20px;
  }

  .container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    &--spaceBetweenSections {
      margin-bottom: 20px;
    }
    &--backgroundColor {
      background-color: #fff;
    }
    &--paddingSides {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  
  .container-fluid {
    width: 100%;
    &--spaceBetweenSections {
      margin-bottom: 20px;
    }
    &--backgroundColor {
      background-color: #fff;
    }
  }
  
  

  .OneDigit {
    flex-direction: column;
    padding: 20px 40px 40px;
  }
  
 .tabs-position {
    justify-content: center;
  }
  