/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$sideBar-background-color: #333;
$basicFont-color: #979797;
$hoverBackground-color: #e3e3e3;
$betweenSectionBackground-color: #F5F5F2;
$mainButton-color: #F58220;
$leftSidedHighlightOfSideBar-color: #FFA200;
$onlineStatus-color: #04AE00;
$positiveNotification-color: #96CC9B;
$greenerPositiveNotification-color: #74B67A;
$negativeNotification-color: #EC7171;
$moreRedNegativeNotification-color: #DE5252;
$links-color: #56819F;
/* Font sizes */
$paragraph-font-size: 16px;
$link-small-size: 13px;

/* Fonts */
$default-font: "Open Sans", Helvetica, Arial;
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$pageHeader-font: 'Roboto', sans-serif;
$sectionHeader-font: 'Roboto', sans-serif;
