/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$sideBar-background-color: #191919;
$sideBar-hover-background-color: rgb(40, 40, 40);
$basicFont-color: #979797;
$basifFontBright-color: rgba(151,151,151, 0.6);
$hoverBackground-color: #e3e3e3;
$betweenSectionBackground-color: #F5F5F2;
$hoverCheckboxList-color: #F2F2F2;
$mainButton-color: #F58220;
$leftSidedHighlightOfSideBar-color: #FFA200;
$onlineStatus-color: #04AE00;
$positiveNotification-color: #96CC9B;
$greenerPositiveNotification-color: #74B67A;
$negativeNotification-color: #EC7171;
$moreRedNegativeNotification-color: #DE5252;
$links-color: #56819F;
$scrollbar-color: #9c9c9c;

/* Font sizes */
$logo-size: 35px;
$topbar-font-size: 20px;
$button-font-size: 18px;
$paragraph-font-size: 16px;
$notification-font-size: 14px;
$link-small-size: 13px;
$table-sorting-size: 12px;
$messanger-status-size: 11px;
$table-sorting-svg-size: 8px;

/* Fonts */
$default-font: "Open Sans", Helvetica, Arial;
$brand-font: "Open Sans", Helvetica, Arial;
$logo-font: 'Dancing Script', cursive;
$paragraph-font: "Open Sans", Helvetica, Arial;
$pageHeader-font: 'Roboto', sans-serif;
$sectionHeader-font: 'Roboto', sans-serif;
