@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
/* Components */
@import "components/form_field";
@import "components/navbar";
@import "components/topbar";
/* Sections */
@import "sections/registration_form";

/* Pages / Views */
@import "pages/registration";


* {
  box-sizing: border-box;
  font-family: $default-font;
  line-height: 1.42857143;
}


body {
  margin: 0 auto;
  max-width: 100%;
}





