@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
/* Components */
@import "components/form_field";
@import "components/navbar";
@import "components/topbar";
/* Sections */
@import "sections/registration_form";

/* Pages / Views */
@import "pages/registration";


* {
  box-sizing: border-box;
  font-family: $default-font;
  line-height: 1.42857143;
}
/*
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}*/

body {
  margin: 0 auto;
  max-width: 100%;
}


.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/*
#Layer_1{
  width: auto;
  height: 40px;
}
*/