//TEXTS
.pageHeader {
    font-size: $paragraph-font-size;
    text-transform: uppercase;
    font-family: $pageHeader-font;
    color: $basicFont-color;
}

.sectionHeader {
    font-size: $paragraph-font-size;
    text-transform: initial;
    font-family: $sectionHeader-font;
    color: $basicFont-color;
    font-weight: bold;
}



//LINKS
.link {
    text-transform: lowercase;
    font-family: $pageHeader-font;
    cursor: pointer;
    color: $links-color;
    text-decoration: none;

    &:hover {
        color: $leftSidedHighlightOfSideBar-color;
    }
}

.link-large {
    font-size: $paragraph-font-size;
    font-weight: 400;
}

.link-small {
    font-size: $link-small-size;
    font-weight: 400;
}

.link-icon {
    width: $link-small-size;
    height: $link-small-size;
    fill: $links-color;

    &:hover {
        fill: $leftSidedHighlightOfSideBar-color;
    }
}

//COROR TABS
.tabs {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: $paragraph-font-size;
    font-family: $pageHeader-font;
    color: $basicFont-color;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;

    &:hover,
    :focus {
        background-color: $hoverBackground-color;
    }
}

.fa-circle {
    margin-right: 10px;
}

.tabs-links-color {
    color: $links-color;
}

.tabs-mainButton-color {
    color: $mainButton-color;
}

.tabs-onlineStatus-color {
    color: $onlineStatus-color;
}

//TABLE WITH LINK
.table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    margin-bottom: 20px;

    tr {
        border-top: 1px solid $hoverBackground-color;

        &:hover {
            background: $hoverBackground-color;
        }

        td {
            text-align: left;

            >p {
                margin-left: 20px;
            }

            a {
                p {
                    text-align: right;

                    svg {
                        margin-right: 20px;

                    }
                }

            }
        }

    }

    tr:last-of-type {
        border-bottom: 1px solid $hoverBackground-color;
    }
}

//LIST WITH ONE DIGIT
.listWithOneDigit {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid $hoverBackground-color;

    >p {
        margin-bottom: 5px;
    }
}

//LARGE TABLE WITH SORTING
.table-sorting {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    margin-bottom: 20px;
    font-size: $table-sorting-size;
    cursor: pointer;

    thead {
        tr {
            border-top: 1px solid $hoverBackground-color;

            th {
                text-align: left;

                p {
                    color: $basicFont-color;
                    display: inline-block;
                    text-align: left;
                    padding: 6px 12px;
                    border-radius: 2px;

                    svg {
                        width: $table-sorting-svg-size;
                        height: $table-sorting-svg-size;
                        fill: $basicFont-color;
                        margin-bottom: 1px;
                        margin-left: 7px;
                        opacity: .0;
                    }

                    &:hover {
                        color: $sideBar-background-color;
                        background: $hoverBackground-color;
                    }
                }


            }
        }
    }

    tbody {
        tr {
            border-top: 1px solid $hoverBackground-color;

            &:hover {
                background: $hoverBackground-color;
            }

            >td {
                text-align: left;

                >p:first-child {
                    margin-left: 12px;
                }
            }

            /* > td:first-child {
                > p {
                    margin-left: 20px;
                }
            }*/

        }
    }

    tr:last-of-type {
        border-bottom: 1px solid $hoverBackground-color;
    }
}

.opacity-full {
    opacity: 1 !important;
}


// BUTTONS
.btn {
    display: inline-block;
    padding: 6px 18px;
    //margin-bottom: 0;
    font-size: $button-font-size;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: $sectionHeader-font;
    color: #fff;
}

.btn--default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn--primary {
    background-color: $basicFont-color;
}

.btn--primary--bright {
    background-color: $basifFontBright-color;
}

.btn--submit {
    background-color: $mainButton-color;
}

.btn--warning {
    background-color: $leftSidedHighlightOfSideBar-color;
}

.btn--link {
    background-color: $hoverBackground-color;
}

.btn--paddingRefresh {
    padding: 6px 8px;
}

.btn_svg {
    width: $paragraph-font-size;
    height: $paragraph-font-size;
    fill: #fff;
    vertical-align: middle;
}

.btn_svg--marginRight {
    margin-right: 10px;
}

//PAGINATION
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: $pageHeader-font;
    >li {
        display: inline;

        >a{
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            color: $links-color;
            text-decoration: none;
            background-color: #fff;
            &:hover {
                color: $leftSidedHighlightOfSideBar-color;
            }
        }
    }
}

.active {
    background-color: $hoverBackground-color !important;
    font-size: $paragraph-font-size;
    text-transform: initial;
    font-family: $sectionHeader-font;
    color: $basicFont-color !important;
    font-weight: bold;
    border-radius: 2px;
}


//DATES
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    padding-right: 40px;
}
 
/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    color: $paragraph-color;
    font-family: $sectionHeader-font;
    font-size: $link-small-size;
    border:1px solid transparent;
    padding: 8px;
    display: inline-block !important;
    visibility: visible !important;
}

input[id="start"] {
    appearance: none; 
    border-right: 1px solid $hoverBackground-color;
}

.calendarBackground {
    background: #fff url(../../solo-project-1/images/icons/calendar.svg) 95% 50% no-repeat;
    background-size: $link-small-size $link-small-size;
    box-shadow: none;
}
#calendar {
    border:1px solid $hoverBackground-color;
    display: inline-block;
    border-radius: 4px;
    margin-right: 10px;
    box-shadow: none;
    &:hover, :focus{
        color: $paragraph-color;
        border:1px solid $basicFont-color;
        box-shadow: none;
    }/*
    .calendar_line {
        border-right: 10px solid $hoverBackground-color !important;
        width: 10px;
        height: auto;
        display: inline-block;
        padding: 10px 0px;
    }*/
}


