//TEXTS
.pageHeader {
    font-size: $paragraph-font-size;
    text-transform: uppercase;
    font-family: $pageHeader-font;
    color: $basicFont-color;
}
.sectionHeader {
    font-size: $paragraph-font-size;
    text-transform: initial;
    font-family: $sectionHeader-font;
    color: $basicFont-color;
    font-weight: bold;
}



//LINKS
.link {
    text-transform: lowercase;
    font-family: $pageHeader-font;
    cursor: pointer;
    color: $links-color;
    text-decoration: none;
    &:hover {
        color: $leftSidedHighlightOfSideBar-color;
    }
}
.link-large {
    font-size: $paragraph-font-size;
    font-weight: 400;
}
.link-small{
    font-size: $link-small-size;
    font-weight: 400;
}
.link-icon {
    width: $link-small-size;
    height: $link-small-size;
    fill: $links-color;
    &:hover{
        fill: $leftSidedHighlightOfSideBar-color;
    }
}

//COROR TABS
.tabs {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: $paragraph-font-size;
    font-family: $pageHeader-font;
    color: $basicFont-color;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    &:hover,:focus {
        background-color: $hoverBackground-color;
    }
}
.fa-circle {
    margin-right: 10px;
}
.tabs-links-color {
    color: $links-color;
}
.tabs-mainButton-color{
    color: $mainButton-color;
}
.tabs-onlineStatus-color {
    color: $onlineStatus-color;
}

//TABLE WITH LINK
.table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    margin-bottom: 20px;
    tr {
        border-top: 1px solid $hoverBackground-color;
        &:hover {
            background: $hoverBackground-color;
        }
        td {
            text-align: left;
            > p {
                margin-left: 20px;
            }
            a {
                p{
                    text-align: right;
                    svg {
                        margin-right: 20px;
                        
                    }
                }

            }
        }
        
    }
    tr:last-of-type {
        border-bottom: 1px solid $hoverBackground-color;
    }
}

//LIST WITH ONE DIGIT
.listWithOneDigit {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid $hoverBackground-color;
    > p {
        margin-bottom: 5px;
    }
}

//LARGE TABLE WITH SORTING
.table-sorting {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    margin-bottom: 20px;
    font-size: $table-sorting-size;
    cursor: pointer;
    thead{
        tr {
            border-top: 1px solid $hoverBackground-color;
        th {
            text-align: left;

            p {
                color: $basicFont-color;
                display: inline-block;
                text-align: left;
                padding: 6px 12px;
                border-radius: 2px;
                svg {
                    width: $table-sorting-svg-size;
                    height: $table-sorting-svg-size;
                    fill: $basicFont-color;
                    margin-bottom: 1px;
                    margin-left: 7px;
                    opacity: .0;
                }
                &:hover {
                    color: $sideBar-background-color;
                    background: $hoverBackground-color;
                }
            }


        }
    }
}
    tbody{
        tr {
            border-top: 1px solid $hoverBackground-color;
            &:hover {
                background: $hoverBackground-color;
            }
            > td {
                text-align: left;
                
             > p:first-child {
                    margin-left: 12px;
                }
            }
           /* > td:first-child {
                > p {
                    margin-left: 20px;
                }
            }*/
            
        }
    }
    
    tr:last-of-type {
        border-bottom: 1px solid $hoverBackground-color;
    }
}

.opacity-full {
    opacity: 1 !important;
}
