//TEXTS
.pageHeader {
    font-size: $paragraph-font-size;
    text-transform: uppercase;
    font-family: $pageHeader-font;
    color: $basicFont-color;
}

.sectionHeader {
    font-size: $paragraph-font-size;
    text-transform: initial;
    font-family: $sectionHeader-font;
    color: $basicFont-color;
    font-weight: bold;
}



//LINKS
.link {
    text-transform: lowercase;
    font-family: $pageHeader-font;
    cursor: pointer;
    color: $links-color;
    text-decoration: none;

    &:hover {
        color: $leftSidedHighlightOfSideBar-color;
    }
}

.link-large {
    font-size: $paragraph-font-size;
    font-weight: 400;
}

.link-small {
    font-size: $link-small-size;
    font-weight: 400;
}

.link-icon {
    width: $link-small-size;
    height: $link-small-size;
    fill: $links-color;

    &:hover {
        fill: $leftSidedHighlightOfSideBar-color;
    }
}

//COROR TABS
.tabs {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: $paragraph-font-size;
    font-family: $pageHeader-font;
    color: $basicFont-color;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;

    &:hover,
    :focus {
        background-color: $hoverBackground-color;
    }
}

.fa-circle {
    margin-right: 10px;
}

.tabs-links-color {
    color: $links-color;
}

.tabs-mainButton-color {
    color: $mainButton-color;
}

.tabs-onlineStatus-color {
    color: $onlineStatus-color;
}

//TABLE WITH LINK
.table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    margin-bottom: 20px;

    tr {
        border-top: 1px solid $hoverBackground-color;

        &:hover {
            background: $hoverBackground-color;
        }

        td {
            text-align: left;

            >p {
                margin-left: 20px;
            }

            a {
                p {
                    text-align: right;

                    svg {
                        margin-right: 20px;

                    }
                }

            }
        }

    }

    tr:last-of-type {
        border-bottom: 1px solid $hoverBackground-color;
    }
}

//LIST WITH ONE DIGIT
.listWithOneDigit {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid $hoverBackground-color;

    >p {
        margin-bottom: 5px;
    }
}

//LARGE TABLE WITH SORTING
.table-sorting {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    margin-bottom: 20px;
    font-size: $table-sorting-size;
    cursor: pointer;

    thead {
        tr {
            border-top: 1px solid $hoverBackground-color;

            th {
                text-align: left;

                p {
                    color: $basicFont-color;
                    display: inline-block;
                    text-align: left;
                    padding: 6px 12px;
                    border-radius: 2px;

                    svg {
                        width: $table-sorting-svg-size;
                        height: $table-sorting-svg-size;
                        fill: $basicFont-color;
                        margin-bottom: 1px;
                        margin-left: 7px;
                        opacity: .0;
                    }

                    &:hover {
                        color: $sideBar-background-color;
                        background: $hoverBackground-color;
                        /*svg {
                            opacity: 1;
                        }*/
                    }
                }
            }
        }
    }

    tbody {
        tr {
            border-top: 1px solid $hoverBackground-color;

            &:hover {
                background: $hoverBackground-color;
            }

            >td {
                text-align: left;

                >p:first-child {
                    margin-left: 12px;
                }
            }

            /* > td:first-child {
                > p {
                    margin-left: 20px;
                }
            }*/

        }
    }

    tr:last-of-type {
        border-bottom: 1px solid $hoverBackground-color;
    }
}

.opacity-full {
    opacity: 1 !important;
}


// BUTTONS
.btn {
    display: inline-block;
    padding: 6px 18px;
    //margin-bottom: 0;
    font-size: $button-font-size;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: $sectionHeader-font;
    color: #fff;
}

.btn--default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn--primary {
    background-color: $basicFont-color;
}

.btn--primary--bright {
    background-color: $basifFontBright-color;
}

.btn--submit {
    background-color: $mainButton-color;
}

.btn--warning {
    background-color: $leftSidedHighlightOfSideBar-color;
}

.btn--link {
    background-color: $hoverBackground-color;
}

.btn--paddingRefresh {
    padding: 6px 8px;
}

.btn_svg {
    width: $paragraph-font-size;
    height: $paragraph-font-size;
    fill: #fff;
    vertical-align: middle;
}

.btn_svg--marginRight {
    margin-right: 10px;
}

//PAGINATION
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: $pageHeader-font;

    >li {
        display: inline;

        >a {
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            color: $links-color;
            text-decoration: none;
            background-color: #fff;

            &:hover {
                color: $leftSidedHighlightOfSideBar-color;
            }
        }
    }
}

.active {
    background-color: $hoverBackground-color !important;
    font-size: $paragraph-font-size;
    text-transform: initial;
    font-family: $sectionHeader-font;
    color: $basicFont-color !important;
    font-weight: bold;
    border-radius: 2px;
}


//DATES
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    padding-right: 40px;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    color: $paragraph-color;
    font-family: $sectionHeader-font;
    font-size: $link-small-size;
    border: 1px solid transparent;
    padding: 8px;
    display: inline-block !important;
    visibility: visible !important;
}

input[id="start"] {
    appearance: none;
    border-right: 1px solid $hoverBackground-color;
}

.calendarBackground {
    background: #fff url(../../solo-project-1/images/icons/calendar.svg) 95% 50% no-repeat;
    background-size: $link-small-size $link-small-size;
    box-shadow: none;
}

#calendar {
    border: 1px solid $hoverBackground-color;
    display: inline-block;
    border-radius: 4px;
    margin-right: 10px;
    box-shadow: none;

    &:hover,
    :focus {
        color: $paragraph-color;
        border: 1px solid $basicFont-color;
        box-shadow: none;
    }

    /*
    .calendar_line {
        border-right: 10px solid $hoverBackground-color !important;
        width: 10px;
        height: auto;
        display: inline-block;
        padding: 10px 0px;
    }*/
}


//NOTIFICATIONS
.notification {
    display: inline-block;
    color: #fff;
    padding: 8px 18px;
    font-size: $notification-font-size;
    font-family: $sectionHeader-font;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    //text-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    background-image: none;
}

.notification-positive {
    background-color: $positiveNotification-color;
    transition: all .4s ease-out;

    &:hover,
    :focus {
        background-color: $greenerPositiveNotification-color;
    }
}

.notification-negative {
    background-color: $negativeNotification-color;
    transition: all .4s ease-out;

    &:hover,
    :focus {
        background-color: $moreRedNegativeNotification-color;
    }
}

.notification_svg {
    width: $paragraph-font-size;
    height: $paragraph-font-size;
    fill: #fff;
    vertical-align: middle;
    margin-right: 6px;
    margin-top: -4px;
}

.notification_svg--close {
    width: $notification-font-size;
    height: $notification-font-size;
    margin-right: -10px;
    margin-left: 50px;
}

//Form field
.field {
    label {
        @extend .sectionHeader;
        display: block;
        padding: 5px 0;
    }

    input {
        appearance: none;
        min-width: 90%;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
        border: none;
        border: solid 1px $hoverBackground-color;
        font-size: $notification-font-size;

        &:hover {
            border: solid 1px $basicFont-color;

            &::placeholder {
                color: $paragraph-color;
            }
        }

        &::placeholder {
            color: $basicFont-color;
        }
    }
}

.field--signup {
    label {
        @extend .sectionHeader;
        display: block;
        padding: 10px 0;
    }

    textarea {
        appearance: none;
        min-width: 90%;
        height: 250px;
        padding: 20px;
        border-radius: 3px;
        resize: none;
        cursor: pointer;
        border: none;
        border: solid 1px $hoverBackground-color;
        font-size: $table-sorting-size;

        &:hover {
            border: solid 1px $basicFont-color;

            &::placeholder {
                color: $paragraph-color;
            }
        }

        &::placeholder {
            color: $basicFont-color;
        }
    }
}

.field_select_fileType {
    label {
        @extend .sectionHeader;
        display: block;
        padding: 10px 0;
    }

    select {
        appearance: none;
        border: 1px solid transparent;
        min-width: 90%;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
        border: solid 1px $hoverBackground-color;
        font-size: $notification-font-size;
        font-family: $pageHeader-font;
        color: $basicFont-color;
        background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
viewBox='0 0 7 5'style='enable-background:new 0 0 7 5;'xml:space='preserve'> <polygon points='3.5,4.2 0.1,0.9 0.9,0.1 3.5,2.8 6.1,0.1 6.9,0.9'/> </svg>");
        background-size: 12px auto;
        background-repeat: no-repeat;
        background-position: right 5px bottom 50%;

        &:focus {
            background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
viewBox='0 0 7 5'style='enable-background:new 0 0 7 5;'xml:space='preserve'> <polygon points='6.1,4.9 3.5,2.2 0.9,4.9 0.1,4.1 3.5,0.8 6.9,4.1'/> </svg>");
background-size: 12px auto;
            background-repeat: no-repeat;
            background-position: right 5px bottom 50%;
        }

        &:hover {
            border: solid 1px $basicFont-color;
            color: $paragraph-color;
        }


    }
}

.field_select_language {
    label {
        @extend .sectionHeader;
        display: block;
        padding: 10px 0;
    }

    select {
        appearance: none;
        border: 1px solid transparent;
        min-width: 90%;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
        border: solid 1px $hoverBackground-color;
        font-size: $notification-font-size;
        font-family: $pageHeader-font;
        color: $basicFont-color;
        background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
viewBox='0 0 7 5'style='enable-background:new 0 0 7 5;'xml:space='preserve'> <polygon points='3.5,4.2 0.1,0.9 0.9,0.1 3.5,2.8 6.1,0.1 6.9,0.9'/> </svg>");
background-size: 12px auto;
        background-repeat: no-repeat;
        background-position: right 5px bottom 50%;

        &:focus {
            background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
viewBox='0 0 7 5'style='enable-background:new 0 0 7 5;'xml:space='preserve'> <polygon points='6.1,4.9 3.5,2.2 0.9,4.9 0.1,4.1 3.5,0.8 6.9,4.1'/> </svg>");
background-size: 12px auto;
            background-repeat: no-repeat;
            background-position: right 5px bottom 50%;
        }

        &:hover {
            border: solid 1px $basicFont-color;
            color: $paragraph-color;
        }

/*         option[value="english"] {
            span {
                background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
viewBox='0 0 7 5'style='enable-background:new 0 0 7 5;'xml:space='preserve'> <polygon points='3.5,4.2 0.1,0.9 0.9,0.1 3.5,2.8 6.1,0.1 6.9,0.9'/> </svg>");
background-size: 12px auto;
                background-repeat: no-repeat;
                background-position: left 5px bottom 50%;
            }
        } */
    }
}

.field_loginName {
    input {
        position: relative;
        appearance: none;
        min-width: 90%;
        padding: 10px;
        padding-left: 30px;
        border-radius: 3px;
        cursor: pointer;
        border: none;
        border: solid 1px $hoverBackground-color;
        font-size: $notification-font-size;
        background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
        viewBox='0 0 15 16' style='enable-background:new 0 0 15 16;' xml:space='preserve'>
   <path d='M7.5,9c2.2,0,4-1.8,4-4c0-2.2-1.8-4-4-4s-4,1.8-4,4C3.5,7.2,5.3,9,7.5,9z M7.5,2c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3
       S5.8,2,7.5,2z M7.5,10c-3,0-5.6,2-6.3,4.9l1,0.3C2.8,12.7,5,11,7.5,11c2.5,0,4.7,1.7,5.3,4.1l1-0.3C13.1,12,10.5,10,7.5,10z'/>
   </svg>");
        background-size: 15px auto;
        background-repeat: no-repeat;
        background-position: left 10px bottom 50%;
        
        &:hover,:focus {
            border: solid 1px $basicFont-color;

            background-image: url("data:image/svg+xml;utf8, <svg fill='%23000' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
            viewBox='0 0 15 16' style='enable-background:new 0 0 15 16;' xml:space='preserve'>
       <path d='M7.5,9c2.2,0,4-1.8,4-4c0-2.2-1.8-4-4-4s-4,1.8-4,4C3.5,7.2,5.3,9,7.5,9z M7.5,2c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3
           S5.8,2,7.5,2z M7.5,10c-3,0-5.6,2-6.3,4.9l1,0.3C2.8,12.7,5,11,7.5,11c2.5,0,4.7,1.7,5.3,4.1l1-0.3C13.1,12,10.5,10,7.5,10z'/>
       </svg>");
&::placeholder {
                color: $paragraph-color;
            }
        }

        &::placeholder {
            color: $basicFont-color;
        }
    }
}

.field_password {
    input {
        appearance: none;
        min-width: 90%;
        padding: 10px;
        padding-left: 40px;
        border-radius: 3px;
        cursor: pointer;
        border: none;
        border: solid 1px $hoverBackground-color;
        font-size: $notification-font-size;
        background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
        viewBox='0 0 22 14' style='enable-background:new 0 0 22 14;' xml:space='preserve'>
   <path d='M21.1,7.4l-2.6-2.6l-2,2L14.7,5h-2.1c-1-2.8-3.8-4.4-6.8-3.9C3.5,1.5,1.6,3.4,1.1,5.7c-0.4,1.8,0.1,3.7,1.2,5.1
       C3.5,12.2,5.2,13,7,13c2.2,0,4.1-1.1,5.2-3h7.9c0.6,0,1.1-0.4,1.4-0.9C21.7,8.5,21.6,7.9,21.1,7.4z M20.5,8.7c0,0.1-0.2,0.3-0.5,0.3
       h-8.5l-0.1,0.3C10.6,11,8.9,12,7,12c-1.5,0-2.9-0.7-3.9-1.8c-1-1.2-1.3-2.7-1-4.2C2.5,4,4.1,2.5,6,2.1C6.4,2,6.7,2,7,2
       c2.2,0,4.2,1.4,4.8,3.6L11.9,6h2.4l2.2,2.2l2-2l1.9,1.9C20.7,8.4,20.6,8.6,20.5,8.7z M5.5,4.5C4.1,4.5,3,5.6,3,7s1.1,2.5,2.5,2.5
       S8,8.4,8,7S6.9,4.5,5.5,4.5z M5.5,8.5C4.7,8.5,4,7.8,4,7s0.7-1.5,1.5-1.5S7,6.2,7,7S6.3,8.5,5.5,8.5z'/>
   </svg>");
        background-size: auto 15px;
        background-repeat: no-repeat;
        background-position: left 10px bottom 50%;
        &:hover,:focus {
            border: solid 1px $basicFont-color;
            background-image: url("data:image/svg+xml;utf8, <svg fill='%23000' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
            viewBox='0 0 22 14' style='enable-background:new 0 0 22 14;' xml:space='preserve'>
       <path d='M21.1,7.4l-2.6-2.6l-2,2L14.7,5h-2.1c-1-2.8-3.8-4.4-6.8-3.9C3.5,1.5,1.6,3.4,1.1,5.7c-0.4,1.8,0.1,3.7,1.2,5.1
           C3.5,12.2,5.2,13,7,13c2.2,0,4.1-1.1,5.2-3h7.9c0.6,0,1.1-0.4,1.4-0.9C21.7,8.5,21.6,7.9,21.1,7.4z M20.5,8.7c0,0.1-0.2,0.3-0.5,0.3
           h-8.5l-0.1,0.3C10.6,11,8.9,12,7,12c-1.5,0-2.9-0.7-3.9-1.8c-1-1.2-1.3-2.7-1-4.2C2.5,4,4.1,2.5,6,2.1C6.4,2,6.7,2,7,2
           c2.2,0,4.2,1.4,4.8,3.6L11.9,6h2.4l2.2,2.2l2-2l1.9,1.9C20.7,8.4,20.6,8.6,20.5,8.7z M5.5,4.5C4.1,4.5,3,5.6,3,7s1.1,2.5,2.5,2.5
           S8,8.4,8,7S6.9,4.5,5.5,4.5z M5.5,8.5C4.7,8.5,4,7.8,4,7s0.7-1.5,1.5-1.5S7,6.2,7,7S6.3,8.5,5.5,8.5z'/>
       </svg>");
&::placeholder {
                color: $paragraph-color;
            }
        }

        &::placeholder {
            color: $basicFont-color;
        }
    }
}



.checkboxList {
    min-width: 90%;
    input[type=checkbox] {
        display: none;
        + label {
            display: block;
            margin: 0.3em;
            cursor: pointer;
            padding: 0.3em;
            font-size: $link-small-size;
            font-family: $pageHeader-font;
            &:before {
                content: "\2714";
                border: solid 1px $hoverBackground-color;
                border-radius: 3px;
                display: inline-block;
                width: 1em;
                height: 1em;
                padding-left: 0.2em;
                padding-bottom: 0.3em;
                margin-right: 1em;
                vertical-align: bottom;
                color: transparent;
                transition: .2s;
                background-color: white;
            }
            &:active:before {
                transform: scale(0);
            }
            .checkboxList_link {
                display: inline-block;
                min-width: 75%;
                > .checkboxList_link_flex {
                    display: flex;
                    flex-flow: row-reverse;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    P {
                        display: inline-block;
                        margin:0;
                    }
                    a {
                        display: inline-block;
                        vertical-align: bottom;
                        opacity: 0;
                    }
                }
            }
            &:hover {
                background-color: $hoverCheckboxList-color;
                .checkboxList_link {
                    > .checkboxList_link_flex {
                        a {
                            opacity: 1;
                        }
                    }
                }
                
            }
        }
        &:checked + label:before {
            background-color: $onlineStatus-color;
            border-color: $onlineStatus-color;
            color: white;
        }

    }
}

.scrollbar {
    height: 60vh;
    overflow-y: scroll;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 3em;
    font: 100%/1.4 serif;
    border: 1px solid rgba(0,0,0,0.25);
    &::-webkit-scrollbar {
        width: 1em;
    }
    &::-webkit-scrollbar-track {
        background-color: $hoverBackground-color;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-color;
        outline: 1px solid slategrey;
    }
}

.message {
    padding: 0 15px;
    font-size: $notification-font-size;
    font-family: $sectionHeader-font;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}

.message_manager {
    background-color: $hoverBackground-color;
    &:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        top: -10px;
        left: 0;
        border: 7px solid;
        border-color: transparent transparent $hoverBackground-color $hoverBackground-color;
        z-index: -1;
    }
}

.message_user {
    background-color: $basicFont-color;
    color: white;
    &:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: 0px;
        bottom: -10px;
        border: 7px solid;
        border-color: $basicFont-color $basicFont-color transparent transparent;
    }
}

.messanger {
    .messanger_name {
        font-size: 30px;
        font-family: $sectionHeader-font;
        margin: 0;
    }
    .messanger_status {
        display: inline-block;
        font-size: $messanger-status-size;
        color: white;
        padding: 2px 7px;
        border-radius: 3px;
    }
    .messanger_status--online {
        background: $onlineStatus-color;
    }
    .messanger_status--offline {
        background: $hoverBackground-color;
    }
}


.slidecontainer {
    width: 90%;
    .slider {
        appearance: none;
        width: 100%; 
        height: 12px; 
        background: $hoverBackground-color;
        outline: none; 
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        transition: opacity .2s;
        position: relative;
        &:hover {
            opacity: 1;
        }
        &::-webkit-slider-thumb{
            appearance: none;
            width: 32px;
            height: 32px; 
            background: #4CAF50;
            cursor: pointer;
            margin-top: 50px;
            background: url('../images/icons/arrow-slider.png') no-repeat;
        }
        &::-moz-range-thumb{
            width: 32px;
            height: 32px; 
            background: #4CAF50;
            cursor: pointer;
            margin-top: 50px;

        }
    }
}