//MENU


.hamburger {
  display: inline-block;
  cursor: pointer;
  padding: 0 15px 0 30px;

  &:focus {
    &>.hamburger__container {
      box-shadow: 0 0 2px 2px #51a7e8;
    }
  }
}

.hamburger__container {
  display: flex;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px;
}

.hamburger__bars {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: $basicFont-color;
  transition: transform 220ms ease-in-out;

  &:before,
  &:after {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: $basicFont-color;
    content: '';
  }

  &:before {
    top: -8px;
    transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
  }

  &:after {
    bottom: -8px;
    transition: bottom 100ms 250ms ease-in,
      transform 220ms ease-in-out;
  }
}

.hamburger--active {
  .hamburger__bars {
    transform: rotate(225deg);
    transition: transform 220ms 120ms ease-in-out;

    &:before {
      top: 0;
      transition: top 100ms ease-out;
    }

    &:after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 100ms ease-out,
        transform 220ms 120ms ease-in-out;
    }
  }
}

.hamburger,
.hamburger__container {
  &:focus {
    outline: none;
  }
}


.sideBar {

  height: 100%;
  max-width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;

  font-size: $paragraph-font-size;
  font-family: $pageHeader-font;
  color: $basicFont-color;
  background-color: $sideBar-background-color;

  .sideBar_logo {
    display: inline-block;

    font-family: $logo-font;
    font-size: $logo-size;
    color: #fff;
    padding: 10px 20px;
  }

  .sideBar_nav {

    .sideBar_nav_links {
      padding: 15px 8px 15px 20px;
      text-decoration: none;
      font-size: $pageHeader-font;
      color: $basicFont-color;
      display: block;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 4px;
        background-color: $leftSidedHighlightOfSideBar-color;
        opacity: 0;
      }

      .sideBar_nav_icon {
        width: $button-font-size;
        height: $button-font-size;
        fill: $basicFont-color;
        vertical-align: text-top;
        margin-top: 2px;
        margin-right: 15px;
      }

      .sideBar_nav_pagesTitles {
        display: inline;
      }

      &:hover {
        background-color: $sideBar-hover-background-color;

        .sideBar_nav_pagesTitles {
          color: #fff;
        }

        .sideBar_nav_icon {
          fill: #fff;
        }

        &::before {
          opacity: 1;
        }
      }
    }

  }

  .sideBar_manager {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 8px 15px 20px;
    border-top: 1px solid $basifFontBright-color;
    width: 250px;
    #chat {
      cursor: pointer;
    }

    .sideBar_manager_title {
      font-size: $notification-font-size;
      text-transform: uppercase;
      font-family: $pageHeader-font;
      color: $basicFont-color;
    }

    .sideBar_manager_face {
      display: inline-block;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      position: relative;
      z-index: 1;
      background-image: url('../../images/icons/manager.jpg');
      background-size: 50px 50px;
      background-repeat: no-repeat;
      background-position: center center;

      &:after {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $onlineStatus-color;
        content: '';
        z-index: 2;
        top: 0;
        left: 35px;

      }

      .sideBar_manager_face_name {
        display: inline-block;
        margin-left: 70px;
        width: 70px;
        text-transform: initial;
        font-size: $notification-font-size;
      }
    }


  }
}

@media(max-width: 767px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');

}

@media(min-width: 1200px) {
  @include grid('xl');
}

/* .show {
  display: inline-block!important;
}


.block {
    display: none;
} 
.menu{
    display: none;
}
 */