.topbar {
    border-left: 1px solid $hoverBackground-color;
    border-bottom: 1px solid $hoverBackground-color;

    display: flex;
    flex-direction: row-reverse;

    
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: inline-block;
        min-height: 70px;
        border-left: 1px solid $hoverBackground-color;
        li {
            cursor: pointer;
        }
        li:first-child {
            display: inline-block;
            margin: 0px 15px;
            .topbar_walletIcon, .topbar_quitIcon{
                width: $button-font-size;
                height: $button-font-size;
                fill: $basicFont-color;
                margin-left: 15px;
            }
            select {
                appearance: none;
                display: inline-block;
                border: 0px solid transparent;
                padding: 5px 30px 5px 10px;
                font-size: $topbar-font-size;
                font-family: $pageHeader-font;
                border-radius: 0;
                color: $basicFont-color;
                background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 5'><path d='M3.5 4.2L.1.9.9.1l2.6 2.7L6.1.1l.8.8z'/></svg>");
                background-size: 12px auto;
                background-repeat: no-repeat;
                background-position: right 5px bottom 10px;
               &:focus {
                background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 5'><path d='M6.1 4.9L3.5 2.2.9 4.9l-.8-.8L3.5.8l3.4 3.3z'/></svg>");
                background-size: 12px auto;
                background-repeat: no-repeat;
                background-position: right 5px bottom 10px;
                }
                
            }
        }
            li:nth-child(2){
                display: inline-block;
                border-left: 1px solid $hoverBackground-color;
                position: relative;
                min-height: 70px;
                vertical-align: middle;

                margin-right: -4px;
                padding: 20px 0;
                
                &:hover {
                    background-color: $hoverBackground-color;
                }
                .topbar_notificationIcon {
                    width: $button-font-size;
                    height: $button-font-size;
                    fill: $basicFont-color;
                    margin-left: 15px;
                    margin-top:7px;
                    margin-right: 15px;
                   z-index: -1;
                  
                }
                &:after {
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $mainButton-color;
                    content: '';
                   z-index: 1;
                    top: 27px;
                    left: 25px;
                  }
    
            }
            li:nth-child(3){
                display: inline-block;
                border-left: 1px solid $hoverBackground-color;
                min-height: 70px;
                vertical-align: middle;
                margin-right: 14px;
                padding: 20px 0;
                .topbar_profileIcon {
                    width: $button-font-size;
                    height: $button-font-size;
                    fill: $basicFont-color;
                    margin-left: 15px;
                  margin-top:7px;
                    margin-right: 10px;
                    //opacity: 0;
                }
                .topbar_userName{
                   vertical-align: middle;
                    text-transform: capitalize;
                    display: inline-block;
                   margin-top:-7px;
                }
            }
        
        li:last-child{
                display: inline-block;
                border-left: 1px solid $hoverBackground-color;
                min-height: 70px;
                vertical-align: middle;
 
                margin-right: 14px;
                padding: 20px 0;
            .topbar_quitIcon{
                width: $button-font-size;
                height: $button-font-size;
                fill: $basicFont-color;
                margin-left: 15px;
                margin-top:7px;
                
        }
        

    }

}
}

@media(max-width: 767px) {
    @include grid('sm');
    .topbar {
        display: flex;
        flex-direction: row;
        ul {
            li{
                border-left: 0px solid $hoverBackground-color !important;   
        }
    }
    }
}