.topbar {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: inline-block;
        min-height: 35px;
        li:first-child {
            display: inline-block;
            border-left: 1px solid $hoverBackground-color;
            .topbar_walletIcon, .topbar_quitIcon{
                width: $button-font-size;
                height: $button-font-size;
                fill: $basicFont-color;
                margin-left: 15px;
            }
            select {
                appearance: none;
                display: inline-block;
                border: 1px solid transparent;
                padding: 5px 30px 5px 10px;
                font-size: $topbar-font-size;
                font-family: $pageHeader-font;
                border-radius: 0;
                color: $basicFont-color;
                background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
                viewBox='0 0 7 5' style='enable-background:new 0 0 7 5;' xml:space='preserve'>
           <polygon points='3.5,4.2 0.1,0.9 0.9,0.1 3.5,2.8 6.1,0.1 6.9,0.9'/>
           </svg>");
background-size: 12px auto;
                background-repeat: no-repeat;
                background-position: right 5px bottom 10px;
               &:focus {
                    background-image: url("data:image/svg+xml;utf8, <svg fill='%23979797' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
                    viewBox='0 0 7 5' style='enable-background:new 0 0 7 5;' xml:space='preserve'>
               <polygon points='6.1,4.9 3.5,2.2 0.9,4.9 0.1,4.1 3.5,0.8 6.9,4.1'/>
               </svg>");
               background-size: 12px auto;
                background-repeat: no-repeat;
                background-position: right 5px bottom 10px;
                }
                
            }
        }
       /*  .topbar--dropdown {
            display: inline-block;
            //position: relative;
            //z-index: -1;
            //visibility: hidden;
            //opacity: 0; */
            li:nth-child(2){
                display: inline-block;
                border-left: 1px solid $hoverBackground-color;
                position: relative;
                min-height: 35px;
                vertical-align: middle;
                margin-top: -7px;
                margin-right: -4px;
                &:hover {
                    background-color: $hoverBackground-color;
                }
               // opacity: 0;
                .topbar_notificationIcon {
                    width: $button-font-size;
                    height: $button-font-size;
                    fill: $basicFont-color;
                    margin-left: 15px;
                    margin-top:7px;
                    margin-right: 15px;
                   z-index: -1;
                  // opacity: 0;
                  
                }
                &:after {
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $mainButton-color;
                    content: '';
                   z-index: 1;
                    top: 7px;
                    left: 25px;
                   // opacity: 0;
                  }
    
            }
            li:nth-child(3){
                display: inline-block;
                border-left: 1px solid $hoverBackground-color;
                min-height: 35px;
                vertical-align: middle;
                margin-top:-7px;
                margin-right: 14px;
                //opacity: 0;
                .topbar_profileIcon {
                    width: $button-font-size;
                    height: $button-font-size;
                    fill: $basicFont-color;
                    margin-left: 15px;
                  margin-top:7px;
                    margin-right: 10px;
                    //opacity: 0;
                }
                .topbar_userName{
                   vertical-align: middle;
                    text-transform: capitalize;
                    display: inline-block;
                   margin-top:-7px;
                  // opacity: 0;
                }
            }
        }
       /* .topbar--dropdown--display {
            display: none;
            position: absolute;
            width: 100%;
            min-height: 35px;
            z-index:3;
            top: -7px;
            left:1px;
            background-color: black;
            opacity: 1!important;
            visibility: visible!important;
            li:first-child{
                display: inline-block;
                border-left: 1px solid $hoverBackground-color;
                height: 35px;
                vertical-align: middle;
               margin-top: 7px;
               opacity: 1!important;
                .topbar_notificationIcon--display {
                    width: $button-font-size;
                    height: $button-font-size;
                    fill: $paragraph-color;
                    margin-left: 15px;
                   // margin-top:7px;
                   margin-right: 14px;
                }
            }
            li:nth-child(2){
                display: inline-block;
                //border-left: 1px solid $hoverBackground-color;
                height: 35px;
                vertical-align: middle;
               margin-top: 7px;
               opacity: 1!important;
                .topbar_closeIcon--display{
                    width: $button-font-size;
                    height: $button-font-size;
                    fill: $basicFont-color;
                    margin-left: 15px;
                   //margin-top:7px;
                   margin-right: 14px;
                }
            }
        } */
        li:last-child{
                display: inline-block;
                border-left: 1px solid $hoverBackground-color;
                min-height: 35px;
                vertical-align: middle;
                margin-top:-7px;
                margin-right: 14px;
            .topbar_quitIcon{
                width: $button-font-size;
                height: $button-font-size;
                fill: $basicFont-color;
                margin-left: 15px;
                margin-top:7px;
                
        }
        

    }

}


